.services-section {
  padding: 6rem 1rem;
  background-color: #fff;
}

.services-container {
  max-width: 1200px;
  margin: 0 auto;
}

.services-header {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 4rem auto;
  h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #2d3748;
    font-weight: normal;
  }
  p {
    font-size: 1.1rem;
    color: #64748B;
  }
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

/* Tarjeta */

/* Gradientes para íconos (según índice) */
.icon-0 {
  background: linear-gradient(to bottom right, #002e5d, #00a3e0);
}
.icon-1 {
  background: linear-gradient(to bottom right, #002e5d, #00a3e0);
}
.icon-2 {
  background: linear-gradient(to bottom right, #002e5d, #00a3e0);
}
/* .icon-3 {
  background: linear-gradient(to bottom right, #a855f7, #7c3aed);
}
.icon-4 {
  background: linear-gradient(to bottom right, #22d3ee, #3b82f6);
}
.icon-5 {
  background: linear-gradient(to bottom right, #e879f9, #ec4899);
} */

.service-card {
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 16px;
  background-color: #fff;
  transition: all 0.3s ease;
}

.service-card-0:hover {
  border: 1px solid #002e5d;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.service-card-1:hover {
  border: 1px solid #002e5d;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.service-card-2:hover {
  border: 1px solid #002e5d;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.service-card-3:hover {
  border: 1px solid #a855f7;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.service-card-4:hover {
  border: 1px solid #22d3ee;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.service-card-5:hover {
  border: 1px solid #e879f9;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.service-icon {
  width: 56px;
  height: 56px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  transition: 0.3s ease;
}

.service-card:hover .service-icon {
  transform: scale(1.1);
}

.service-card h3 {
  margin-bottom: 0.75rem;
  font-size: 1.2rem;
  font-weight: normal;
  color: #2d3748;
}

.service-card p {
  color: #64748B;
  line-height: 1.5;
  font-size: 0.9rem;
}
